body {
    background-color: rgb(255, 172, 103);
}
h1 {
    width: fit-content;
    border: 1px solid blue;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    background-color: white;  
    margin-top: 50px;
    margin-bottom: 40px;
}
.ej table {
    border-collapse: collapse;
}
img {
    width: 100px;
    margin-left: 80px;
    margin-right: 80px;
}
#ter {
    margin-top: 150px;
}
div.checker {
    margin-top: 50px;
}
.checker td, .checker th{
    border: 1.1px solid black;
}
.checker img {
    width: 250px;
}