
table.checker { 
    position: fixed;
    bottom: 10px;
    right: 10px;
}
div.select {
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
}
body {
    height: 3000px;
    width: 3000px;
}
#div2 img{
    width: 100px;
}

#zdrada {
    position: absolute;
    right: 150px;
    bottom: 150px;    
}
#malina {
    position: relative;
    top: 500px;
}
#beelzebub {
    position: fixed;
    left: 500px;
    
}
#azazel {
    position: sticky;
    top: 0;
}
