.ej a:link {    
    color: #FF0000;
    text-decoration: none;
    background-color: #B2FF99;
}
.ej a:visited {
    color: #00FF00;
    text-decoration: none;
    background-color: #FFFF85;
}
.ej a:hover {
    color: #FF00FF;
    text-decoration: underline;
    background-color: #FF704D;
}
.ej a:active {
    color: #0000FF;
    text-decoration: underline;
    background-color: #FF704D;
}
div.select {
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
}
table.checker { 
    position: fixed;
    bottom: 10px;
    right: 10px;
}